
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upperdiv
{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.maindiv
{
    display: flex;
    width: 900px;
    min-height: 100vh;
}

.maindiv .leftdiv
{
    flex:1;
    background-color: #212025;
}

.maindiv .rightdiv
{
    flex: 2;
    color: white;
    background-color: aliceblue;
}

.leftdiv .leftcontent
{
    margin-top: 20px;
    margin-left: 25px;
}

.education
{
    color: aliceblue;
    margin-bottom: 40px;
}

.education h3
{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: large;
    padding-bottom: 10px;
    border-bottom: solid 2px hsl(48deg 100% 50%);
}

.education h4
{
    font-weight: 400;
    margin-left: 27px;
    font-size: medium;
    margin-top: 10px;
}

.education ul
{
    list-style-type: none;
    margin-left: 27px;
}

.education ul li
{
    font-weight: 400;
    font-size: small;
}



.leftbottominner
{
    width:100%;
    height: 20px;
    margin-top: 10px;
    display: flex;
    color: rgb(20, 21, 21);
}

.innerleft
{
    display: flex;
    align-items: center;
    flex:1;
    background-color: hsl(48deg 100% 50%);

}

.innerright{
    display: flex;
    align-items: center;
    flex:6;
    background-color: #2a292e;
}

.innerright h4
{
    color: aliceblue;
    font-weight: 500;
    font-size: 14px;
    margin-left: 13px;
}

.rightdiv
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innercontent h4
{
    margin-top: 7px;
    color: aliceblue;
    font-size: 13px;
    font-weight: 400;
    margin-left: 55px;
}

.rightdivinner
{
    width: 85%;
}

.rightname
{
    width: 100%;
    margin-top: 90px;
    color: black;
    height: 160px;
    background-color: hsl(48deg 100% 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightname h1
{
    font-weight: 300;
    font-size: 50px;
    margin-left: 40px;
}

.rightname h1 span
{
    font-weight: 500;
}

.rightname h3
{
    font-weight: 300;
    margin-left: 40px;
}

.educationright
{
    color: black;
    margin-top: 50px;
}

.educationright h3
{
    padding-bottom: 20px;
    border-bottom:#141414 2px double;
    margin-bottom: 20px;
}

.educationright p
{
    margin-top: 20px;
    font-size: small;
    text-align: justify;
}

.educationright ul
{
    margin-left: 16px;
}



.workexperience
{
    display: flex;
    color: black;
    margin-top: 20px;
}

.datecontent
{
    flex: 1;
}

.jobinfo
{
    flex: 2;
}

.skills
{
    margin-top: 35px;
    margin-left: 50px;
    display: flex;
}

.skillitems h4
{
    font-size: medium;
    font-weight: 300;
    margin-top: 20px;
}

.second{
    margin-left: 55px;
}

.progressbar
{
    margin-top: 6px;
    height: 6px;
    border-radius: 2px;
    width: 200px;
    background-color: gray;
}

.progress
{
    height: 100%;
    width: 75%;
    border-radius: 2px;
    background-color: black;
}

.fade-in
{
    animation: fadeIn 3s;
}


@keyframes fadeIn {
    0%{ width: 0%;
    }
}